Makefile
Makefile.in
compile
config.h
config.h.in
depcomp
missing
config.status
config.log
configure
install-sh
stam-h1
aclocal.m4
autom4te.cache
stamp-h1
src/obexpush
src/obexpush.o
clean
src/.deps/*
